<h1>Recently added</h1>
<ul>
  <% @products.most_recent.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<hr>

<h1>Most Reviews</h1>
<ul>
  <% @products.most_reviews.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<hr>
